body, html, div {
	background-color: #000;
	color: #fff;
}

input {
	background-color: #333;
	color: #fff;
}

td.Y {
	background-color: #8c851c;
}

td.R {
	background-color: #8c1c1c;
}

.result-row td {
	border: 1px solid #888;
}

.table-new {
	margin-bottom: 50px;
}

.red-name-label {
	color: #FF0033;
	margin: 0 10px 0 10px;
}

.yellow-name-label {
	color: #E5F442;
	margin: 0 10px 0 10px;
}

.play-btn {
	margin: 5px;
}
